<section class="navbar footer">
    <ul class="togglecontent">
        <li>
            <a target="_blank" href="https://twitter.com/BurstMembrane"><i class="fab fa-twitter"></i> </a>
        </li>
        <li>
            <a target="_blank" href="https://dev.to/burstmembrane"> <i class="fab fa-dev"></i></a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/burstMembrane"><i class="fab fa-github"></i> </a>
        </li>
        <li>
            <a target="_blank" href="https://codepen.io/burstmembrane"><i class="fab fa-codepen"></i> </a>
        </li>
    </ul>

</section>

<!-- this span will change to display none when mobile device detected -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="./js/script.js"></script>
</body>

</html>