<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/byliuyang/github-stats@0.0.4/src/github-stats.js">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liam Power Dev</title>
</head>



<body>
    <a class="toggle hidden">...</a>
    <section class="navbar header">

        <ul class="togglecontent">
            <li>
                <a href="/"> HOME </a>
            </li>
            <li>
                <a href="/projects">PROJECTS </a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>

    </section>