<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/solarized-dark.min.css" integrity="sha256-xUUCW7JMutlIaRYLbH+zoZ6m1uR+41g6mnmR1yaJQkk=" crossorigin="anonymous" />
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Liam Power web developer and creative coder. Design and deploy beautiful websites fast!" />


    <title>Liam Power Dev</title>
</head>



<body>
    <a class="toggle hidden">...</a>
    <section class="navbar header">

        <ul class="togglecontent">
            <li>
                <a href="/"> HOME </a>
            </li>
            <li>
                <a href="/projects">PROJECTS </a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
        </ul>

    </section>