<%- include('partials/header') %>

    <section class="content">
        <h1>GET IN TOUCH</h1>

        <div class="textbox border">

            <div class="form-container">

                <form id="contact" action="/contact" method="POST" class="contact">
                    <input required type="text" name="message[name]" id="" placeholder="Name">
                    <input required type="email" name="message[email]" id="" placeholder="Your Email">
                    <textarea required name="message[text]" id="" cols="30" rows="10">Tell me about your project and how I can help. </textarea>
                    <button id="sendmsg">Send</button>
                </form>

                <% if (message && message.name) { %>
                    <p class=" small "> Thanks for your message
                        <%= message.name %> ! I'll be in touch soon. </p>
                    <% } %>
            </div>
        </div>

    </section>


    <%- include('partials/footer') %>