<%- include('partials/header') %>

    <section class="content">
        <h1>LIAM POWER >> PROGRAMMER
            << DEVELOPER</h1>
                <div class="row">
                    <div class="textbox border">
                        <div class=menubar>
                            ABOUT ME
                        </div>
                        <img class="profile padded" src="./assets/img/profile.jpg" alt="">
                        <p class="padded ">
                            I'm an Artist, Creative Coder and Web Developer from Melbourne, Australia. <br> <br> Feel free to click around and view a few of the projects I have worked on. These projects have expanded my skills in programming languages
                            and frameworks, such as <span class='animated'>>>>></span></p>
                    </div>


                    <div class="textbox border">
                        <div class=menubar>
                            RELEVANT SKILLS
                        </div>
                        <ul class=langlist>
                            <li class="langpopup"> Javascript

                            </li>
                            <p class="popup hidden">
                                Event Listeners, Object Methods, ES6 Syntax, OOP and Data Structures, Logic Programming, UI and Experience Programming </p>
                            <li class="langpopup"> JQuery </li>

                            <p class="popup hidden"> AJAX Methods, jQuery style functions. DOM manipulation and creation.
                            </p>

                            <li class="langpopup"> Bootstrap</li>

                            <p class="popup hidden"> Using the grid system and builtin classes to quickly protype and customize responsive, user-first websites and applications. </p>

                            <li class="langpopup"> HTML5 & CSS3</li>

                            <p class="popup hidden"> When forming the backbone of the front-end experience. I look to create a HTML/CSS application which makes sense to other developers as well as to users. By keeping things modular, clear, commented and ordered.
                            </p>

                            <li class="langpopup"> Node.js</li>
                            <p class="popup hidden"> Sites I have built revolve around the Express Framework and NPM modules such as Passport, Body-Parser, EJS and others. I have a passion for using open source tools and libraries to help make my work more scalable, responsive,
                                and user friendly. I have also created a NPM mode called "cls" -- see project page for more detail </p>
                            <li class="langpopup"> Python & Flask</li>
                            <p class="popup hidden"> I have built a number of artistic and personal projects using Python and Flask. I am passionate about OpenCV, Flask, Tkinter, PyGame and front end frameworks to craft web apps capable of some more intense number or data crunching.
                            </p>
                            <li class="langpopup"> Arduino & Raspberry Pi </li>
                            <p class="popup hidden"> Through my artistic practice I have used IoT and embedded solutions for video playback, sculpture, data processing and as servers for dynamic sites. I am competent and comfortable working with and debuggin in these systems.
                            </p>
                            <li class="langpopup"> p5.js & Processing </li>
                            <p class="popup hidden"> Generating animations and graphics using JavaScript and Java frameworks.
                            </p>
                        </ul>
                    </div>


                </div>



    </section>
    <%- include('partials/footer') %>