<%- include('partials/header') %>

<section class="content">
    <h1><span class="animated"> >> </span> PROJECTS <span class="animated">
            << </span> </h1> <div class="grid">
                </div>
</section>

<script src="./js/penembed.js"></script>
<script src="./js/lib/async-iframe.js"></script>
<script>
    makeIframes();
</script>
<script async src="./js/lib/ei.js"></script>

<%- include('partials/footer') %>