<%- include('partials/header') %>

    <section class="content">
        <h1><span class="animated"> >> </span> PROJECTS <span class="animated"> << </span> 
           </h1>
                <div class="grid">

                </div>
    </section>

    <script src="./js/penembed.js"></script>
    <script src="./js/lib/ei.js"></script>
    <!-- <script async src="https://static.codepen.io/assets/embed/ei.js"></script> -->
    <%- include('partials/footer') %>